/* general */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
/* utility */

a{
    text-decoration: none;
    color:#32495b;
}
p{
    font-size: 18px;
}
h1{
    font-size:50px;
}
h2{
    font-size:30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
.float{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear:left;
}
.container{
    width: 80%;
    margin:0 auto;
}
.w-50{
    width: 50%;
}
/* header */

/* header  la parte sopra */
.top{
    width: 100%;
    background-color: #f4f9fd;
}
.top .container{
    height: 80px;
    position: relative;
}
.primo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.secondo{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
}
.top ul{
    list-style: none;
}
    
.top ul li,
.bottom ul li,
.up .right ul li{
    display: inline-block;
    color:#32495b;
    font-weight: bolder;
    
}
.top ul li:first-child{
    padding-right: 30px;
    border-right: 2px solid #32495b;
}
.top ul li:last-child{
    padding-left: 28px;
}
.top ul li i,
.bottom ul li i{
    margin:0 5px;
}
#search{
    border-right: none;
}
.bottone{
    color:#fe775a;
    background-color: white;
    padding:8px;
    border:solid 1px #fe775a;
    border-radius: 5px;
}
.bottone_attivo{
    color:white;
    background-color: #fe775a;
    padding:8px;
    border:solid 1px #fe775a;
    border-radius: 5px;
}
.bottone_big{
    padding:16px;
}

/* header la parte sotto */
.bottom{
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    border-top: 1px solid black;
}
.bottom .container{
    height: 80px;
    position: relative;
}
.bottom li{
    margin-left: 20px;
}
.bottom .logo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
/* banner con il testo */
.banner{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #fff2ee;
    /* background-image: url(./hubspot-assets/img-hubspot/jumbotron.png);
    background-position:110% -155%;
    background-size:80%;
    background-repeat: no-repeat; */
}
.banner img{
    height: 500px;
    position: absolute;
    right: 0;
    bottom:-60px;
}
.banner .titoli{
    position: absolute;
    top:40px;
    left:10%;
    z-index: 2;
    color:#32495b  
}
.banner .titoli h1{
    padding:5% 0 0 0;
}
.banner .titoli p{
    margin:5% 0;
}
.banner .titoli p:last-child{
    font-size: 14px;
}
/* riga verde */
.verde{
    position: relative;
    z-index: 3;
    height: 80px;
    background-color: #afebe4;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}
/* testo con l'immagine sopra "Powerful Alone. Better Together" */
.powerfur{
    text-align: center;
    background-image: linear-gradient(to bottom right, #f4f9fd, white );
    color:#33475b;
    /* padding:0 20%; */
}
.powerfur img{
    width: 300px;
    margin:40px 0;
}
.powerfur p{
    width: 60%;
    margin:40px auto;
}
 /* section Free Hubspot CRM */
 
 .up{
     position: relative;
     width: 100%;
     text-align: left;
     background-color: white;
     box-shadow: 0 0 8px #33475b;
     border-radius: 5px;
 }
 .up .left{
     padding: 40px 20px 40px 40px;
     text-align: center;
     width: 35%;
     
 }
 .up p{
     width: 100%;
     text-align: left;
     margin:40px 0 30px 0;
 }
 .up img{
     width: 65%;
     margin:0 auto 20px auto;
 }
 .up a{
     display: block;
     width:65% ;
     text-align: center;
     margin:0 auto;
 }
 .up .right{
     padding: 40px 40px 40px 20px;
     width: 65%;
     position: absolute;
     right: 0%;
     top:0%;
     
 }
 .up .right h4{
     margin-bottom: 30px;
 }
 .up .right i{
     margin-right: 10px;
     color:#fe775a;
 }
 .up .right li{
     margin-right: 15px;
 }
 .linea{
     position: relative;
     width: 100%;
 }
 .linea h4{
     width: 35%;
 }
 .linea span{
     position: absolute;
     right: 0;
     top:50%;
     transform: translateY(-50%);
     display: inline-block;
     width: 65%;
     height: 2px;
     background-color:#33475b ;
 }

