/* general */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
/* utility */


p{
    font-size: 18px;
}
h1{
    font-size:50px;
}
h2{
    font-size:30px;
    
}
h3{
    font-size: 24px;
}
    
    
h4{
    font-size: 20px;
}
.float{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear:left;
}
.container{
    width: 80%;
    margin:0 auto;
}
.w-50{
    width: 50%;
}
a:hover{
    color:#fe775a  ;
}
a{
    text-decoration: none;
    color:#32495b;
}

a.bottone_attivo:hover,
a .bottone_attivo:hover,
a .bottone:hover{
    color:#32495b;
}
/* header */

/* header  la parte sopra */
.top{
    width: 100%;
    background-color: #f4f9fd;
}
.top .container{
    height: 80px;
    position: relative;
}
.top .primo li,
.bottom li{
    line-height: 60px;
}


.primo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index:4;
}
.primo li:hover .menu,
.bottom li:hover .menu{
    display: block;}

.menu{
    display: none;
    position: absolute;
    top:50px;
    /* width: 50%; */
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 8px #33475b;
    padding: 10px;
    line-height: normal;
}
.menu a{
    display: block;
    margin:10px 0;
    text-align: center;

}

 
.secondo{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
}
.top ul{
    list-style: none;
    
}

.top ul li,
.bottom ul li,
.up .right ul li{
    display: inline-block;
    color:#32495b;
    font-weight: bolder;
    
}
.top ul li:first-child{
    padding-right: 30px;
    border-right: 2px solid #32495b;
}
.top ul li:last-child{
    padding-left: 28px;
}
.top ul li i,
.bottom ul li i{
    margin:0 5px;
}

#search{
    border-right: none;
}
.bottone{
    color:#fe775a;
    background-color: white;
    padding:8px;
    border:solid 1px #fe775a;
    border-radius: 5px;
}
.bottone_attivo{
    color:white;
    background-color: #fe775a;
    padding:8px;
    border:solid 1px #fe775a;
    border-radius: 5px;
}
.bottone_big{
    padding:16px;
}

/* header la parte sotto */
.bottom{
    position: relative;
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    border-top: 1px solid black;
    z-index: 3;

}
.bottom .container li{
    position: relative;
    
}
.bottom .container{
    height: 80px;
    position: relative;
}
.bottom .container li .menu{
    position: absolute;
    top:50px;
    /* width: 100%; */
}
.bottom li{
    margin-left: 20px;
}
.bottom .logo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
}
/* banner con il testo */
.banner{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #fff2ee;
    /* background-image: url(./hubspot-assets/img-hubspot/jumbotron.png);
    background-position:110% -155%;
    background-size:80%;
    background-repeat: no-repeat; */
}
.banner img{
    height: 500px;
    position: absolute;
    right: 0;
    bottom:-60px;
}
.banner .titoli{
    position: absolute;
    top:40px;
    left:10%;
    z-index: 2;
    color:#32495b  
}
.banner .titoli h1{
    padding:5% 0 0 0;
}
.banner .titoli p{
    margin:5% 0;
}
.banner .titoli p:last-child,
.start-growing-sotto-testo p:last-child{
    font-size: 14px;
}
/* riga verde */
.verde{
    position: relative;
    z-index: 3;
    height: 80px;
    background-color: #afebe4;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}
/* testo con l'immagine sopra "Powerful Alone. Better Together" */
.powerfur{
    text-align: center;
    background-image: linear-gradient(to bottom right, #f4f9fd, white );
    color:#33475b;
    /* padding:0 20%; */
}
.powerfur img{
    width: 300px;
    margin:40px 0;
}
.powerfur p{
    width: 60%;
    margin:40px auto;
}
 /* section Free Hubspot CRM */
 
 .up{
     position: relative;
     width: 100%;
     text-align: left;
     background-color: white;
     box-shadow: 0 0 8px #33475b;
     border-radius: 5px;
 }
 .up .left{
     padding: 40px 20px 40px 40px;
     text-align: center;
     width: 35%;
     
 }
 .up p{
     width: 100%;
     text-align: left;
     margin:40px 0 30px 0;
 }
 .up img{
     width: 65%;
     margin:0 auto 20px auto;
 }
 .up a,
 .colonna a{
     display: block;
     width:65% ;
     text-align: center;
     margin:0 auto;
 }
 .up .right{
     padding: 40px 40px 40px 20px;
     width: 65%;
     position: absolute;
     right: 0%;
     top:0%;
     
 }
 .up .right h4{
     margin-bottom: 30px;
 }
 .up .right i,
 .colonna i{
     margin-right: 10px;
     color:#fe775a;
 }
 .up .right li{
     margin-right: 15px;
 }
 .linea{
     position: relative;
     width: 100%;
 }
 .linea h4{
     width: 35%;
 }
 .linea span{
     position: absolute;
     right: 0;
     top:50%;
     transform: translateY(-50%);
     display: inline-block;
     width: 65%;
     height: 2px;
     background-color:#33475b ;
 }
 /* colonne in float */
 .colonne{
     margin:40px 0;
 }
 .colonna{
     width: 30%;
     background-color: white;
     box-shadow: 0 0 8px #33475b;
     border-radius: 5px;
     padding:20px;
     margin-right: 5%;
 }
 .colonna:last-child{
     margin-right: 0;
 }
 .colonna .img{
     width: 100%;
     height:200px;
     background-image: url(./hubspot-assets/img-hubspot/Marketing-Hub-Free.svg);
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
    
 }
 .colonna:nth-child(2) .img{
     background-image: url(./hubspot-assets/img-hubspot/Sales-Professional-Illustration.svg);
 }
 .colonna:nth-child(3) .img{
     background-image: url(./hubspot-assets/img-hubspot/Service-Hub-Illustration.svg);
 }
 .colonna p{
     width: 100%;
     height: 150px;
 }
 .colonna h4{
     margin:30px 0;
 }
hr:not(footer hr){
    border: 1px solid #33475b;

}
.colonna ul{
    margin-bottom: 30px;
}

.colonna li{
    list-style: none;
    text-align: left;
    font-size: 18px;
}
/* section class="learn_and_grow" */
.learn_and_grow{
    background-color: #00b5ad;
    color:white;
    text-align: center;
}
.learn_and_grow h2{
    padding:40px 0;
    width: 100%;
}
.learn_and_grow p:not(.cella p){
    margin-bottom: 40px;
}
.cella{
    width: 25%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.cella:last-child{
    border-right: none;
}
.cella .img{
    width: 80%;
    height: 100px;
    margin: 0 auto ;
    background-image: url(./hubspot-assets/img-hubspot/homepage_community_agency.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.cella h3{
    font-size:54px;
    margin:20px auto;
}
.cella p{
    padding-bottom:20px ;
}
.cella i{
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px;
}
.cella_in_float:last-child{
    padding-bottom:40px;
}
.cella_in_float:last-child .cella{
    border-bottom: none;
}
.cella:nth-child(2) .img{
    background-image: url(./hubspot-assets/img-hubspot/homepage_community_blog.svg);

}
.cella:nth-child(3) .img{
    background-image: url(./hubspot-assets/img-hubspot/homepage_community_academy.svg);
}
.cella:nth-child(4) .img{
    background-image: url(./hubspot-assets/img-hubspot/homepage_community_inbound.svg);
}
#sotto .cella .img{
    background-image: url(./hubspot-assets/img-hubspot/homepage_community_connect.svg);
}
#sotto .cella:nth-child(2) .img{
    background-image: url(./hubspot-assets/img-hubspot/homepage_community_globe.svg);
    background-size: 30%;
}
#sotto .cella:nth-child(3) .img{
    background-image: url(./hubspot-assets/img-hubspot/homepage_community_followers.svg);
    background-size: 30%;
}
#sotto .cella:nth-child(4) .img{
    background-image: url(./hubspot-assets/img-hubspot/growthhub-white-small.svg);
}

/* Section "start_growing" */
/* start-growing-sopra */
.start-growing{
    background-color: #ffffff;
    color:#33475b;
}
.testo-left{
    width: 25%;
    margin-left: 5%;
    margin-top: 40px;
}
.testo-left h2{
    font-size: 54px;
    color:#33475b;
    margin-bottom: 20px;
}
.testo-left li{
    list-style: none;
    color:#32495b;
    font-weight: normal;
    margin-bottom: 10px;
}
.testo-left li strong{
    font-size: 20px;
}
.loghi-right{
    width: 60%;
    margin:0 5%;
    margin-top: 40px;
}
.cella-logo{
    width: 25%;
    height: 60px;
    background-image: url(./hubspot-assets/img-hubspot/Atlassian-horizontal-blue.webp);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.cella-logo:nth-child(2){
    background-image: url(./hubspot-assets/img-hubspot/doordash_owler.webp);
}
.cella-logo:nth-child(3){
    background-image: url(./hubspot-assets/img-hubspot/g2crowd.webp);
}
.cella-logo:nth-child(4){
    background-image: url(./hubspot-assets/img-hubspot/purple-logo.webp);
}
.cella-logo:nth-child(5){
    background-image: url(./hubspot-assets/img-hubspot/Subaru_Logo.webp);
}
.cella-logo:nth-child(6){
    background-image: url(./hubspot-assets/img-hubspot/Wistia_logo.webp);
}
.cella-logo:nth-child(7){
    background-image: url(./hubspot-assets/img-hubspot/Classpass-logo.webp);
}
.cella-logo:nth-child(8){
    background-image: url(./hubspot-assets/img-hubspot/VMware_logo.webp);
}
/* start-growing-sotto */
.start_growing .container{
    position: relative;
}
.start_growing .container img{
    width:30%;
    position: absolute;
    right: 0;
    bottom: 0;

}
.start-growing-sotto{
    margin-top: 40px;
}
.start-growing-sotto-testo{
    width: 50%;
    color:#32495b;
}
.start-growing-sotto a{
    width: 40%;
    text-align: center;
    display: block;
    
}
.start-growing-sotto p{
    margin:30px 0;
}
/* footer */
footer{
    background-color:#32495b ;
    color:#c9d5e1;
}
/* parte in float */
.parte_in_float .colonna_in_footer{
    width: 22,75;
    padding:30px 0;
    margin-right: 3%;
}
.parte_in_float .colonna_in_footer h4{
    margin: 0 0 30px 0;
    color:white;

}
footer li{
    list-style: none;
    font-weight: normal;
    margin-bottom: 10px;
}


.colonna_in_footer:last-child{
    margin-right:0;
}
footer a{
    color:#c9d5e1
}

footer a#special{
    color:#32495b ;
    width: 100%;
    text-align: center;
    display: block;
    background-color:#c9d5e1 ;
    padding:8px;
    border:solid 1px #c9d5e1;
    border-radius: 5px;
}
footer a:hover,
footer a#special:hover{
    color:white;
}
.colonna_in_footer li i{
    width: 18.5%;
    text-align: center;

}
.lingue{
    width: 70%;
    text-align: center;
    margin: 30px auto 0 auto;
}
footer .lingue li{
    display: inline;
    margin-right: 30px;
}
footer hr{
    margin:20px 0 40px 0;
}
footer .container{
    position: relative;
    padding-bottom: 60px;
}
.legal{
    position: absolute;
    bottom:80px;
    right: 0;
}
.legal li{
    display: inline-block;
    margin-left: 30px
}
/* chat */
#chat{
    text-align: right;
    font-size: 80px;
    position: fixed;
    bottom:2%;
    right: 4%;
    z-index: 5;
}
#chat a{
    color:#fe775a;
}
#chat input{
    position: absolute;
    bottom: 80px;
    right: 4%;
    display: none;
    width: 200px;
    height: 40px;
    background-color: white;
    box-shadow: 0 0 8px #33475b;
    border-radius: 5px;
    border: none;
    
}
 #chat:hover input{
    display: block;
}












